body{
    background-color: beige;
}

.row{
    display: flex;
    justify-content: center;
}

.title_login{
    padding: 2em;
    font-size: 1.5rem;
    justify-content: center;
}

.mail_login{
    padding: 0.5em;
    border-radius: 0.2em;
}

.pass_login{
    padding: 0.5em;
    border-radius: 0.2em;
}

.buttom_login{
    padding: 0.5em;
    border-radius: 0.2em;
}
